@model EntityLayer.EDto.WriterForRegisterDto

@{
    ViewBag.Title = "WriterRegister";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

@using (Html.BeginForm("WriterRegister", "Register", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Yazar Adı")
    @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" })
    <br /><br />
    @Html.Label("Yazar Soyadı Rolü")
    @Html.TextBoxFor(x => x.WriterSurname, new { @class = "form-control" })
    <br /><br />
    @Html.Label("Yazar Mail")
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br /><br />
    @Html.Label("Yazar Şifre")
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    <br />
    <br /><br />
    <button id="btn3" class="btn btn-danger">Kaydet</button>
</div>
}



@*<link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        #web-bg {
            position: fixed;
        }

            #web-bg img {
                position: absolute;
            }
    </style>

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Yazar Kayıt Alanı</title>


    </head>
    <body>
        <section class="vh-100 " id="web-bg" style="background-color: #eee;">
            <div class="container h-100;">
                <div class="row d-flex justify-content-center align-items-center h-100 ">
                    <div class="col-lg-12 col-xl-11 ">
                        <div class="card text-black" style="border-radius: 25px;">
                            <div class="card-body p-md-5">
                                <div class="row justify-content-center">
                                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Yazar Kayıt Alanı</p>

                                        <form class="mx-1 mx-md-4">

                                            <div class="d-flex flex-row align-items-center mb-4">

                                                <label class="form-label" for="form3Example1c">Adınız</label>

                                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="text" id="form3Example1c" name="WriterName" class="form-control" />
                                                </div>
                                            </div>
                                            <br />
                                            <div class="d-flex flex-row align-items-center mb-4">

                                                <label class="form-label" for="form3Example1c">Soy Adınız</label>

                                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="text" id="form3Example1c" name="WriterSurname" class="form-control" />
                                                </div>
                                            </div>
                                            <br />
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <label class="form-label" for="form3Example3c">E-Mail</label>

                                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="email" id="form3Example3c" name="WriterMail" class="form-control" />
                                                </div>
                                            </div>
                                            <br />
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <label class="form-label" for="form3Example3c">Hakkında</label>

                                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="text" id="form3Example3c" name="WriterAbout" class="form-control" />
                                                </div>
                                            </div>
                                            <br />
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <label class="form-label" for="form3Example3c">Başlık</label>

                                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="text" id="form3Example3c" name="WriterTitle" class="form-control" />
                                                </div>
                                            </div>
                                            <br />
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <label class="form-label" for="form3Example3c">Resim</label>

                                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="text" id="form3Example3c" name="WriterImage" class="form-control" />
                                                </div>
                                            </div>
                                            <br />
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <label class="form-label" for="form3Example4c">Şifre</label>

                                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="password" id="form3Example4c" name="PasswordHash" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row align-items-center mb-4">
                                                <label class="form-label" for="form3Example4c">Telefon</label>

                                                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                                <div class="form-outline flex-fill mb-0">
                                                    <input type="text" id="form3Example4c" name="WriterTelephones" class="form-control" />
                                                </div>
                                            </div>
                                            <br />



                                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">

                                                <a href="/Logins/WriterLogin" class="btn btn-info">Kayıt Ol</a>
                                            </div>

                                        </form>

                                    </div>
                                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                        <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-registration/draw1.png" class="img-fluid" alt="Sample image">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </body>
    </html>*@