@model EntityLayer.EDto.AdminForRegisterDto

@{
    ViewBag.Title = "NewAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("NewAdmin", "Authorizations", FormMethod.Post))
{
<div class="form-group">
    @*<tr>
        <td colspan="3" class="renk ">@ViewBag.Mesaj</td>
    </tr>*@
    <br />
    @Html.Label("Admin Adı")
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    <br /><br />
    @*@Html.Label("Admin Rolü")
    @Html.DropDownListFor(x => x.AdminRole, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })*@

    @Html.Label("Admin Mail")
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br /><br />
    @Html.Label("Admin Password")
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    <br />
    <br /><br />
    <button id="btn3" class="btn btn-danger">Kaydet</button>
</div>
}